.pulse{
  display: flex;
  align-items: center;
  justify-content:center;
  animation: alarmclock 1500ms infinite;
}

@keyframes alarmclock{
  
  0%{
    
    box-shadow: 0 0 0 0 #FFFFFF;
  }
  
  100% {
    
    box-shadow: 0 0 0 0 #FFFFFF;
     
  }
  
  
  
  
